<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">Create New Article</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Article Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Insert Article Title here"/>
    </div>
    <div>
      <label for="post-content">Article Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Insert Article Content here"/>
    </div>
    <button type="submit" class="button is-dark is-pulled-right">Create Article</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>
